body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0c2dd3;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 70px;
}

#home {
    text-align: center;
    padding: 50px 0;
}

#home img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#home h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

#home p {
    font-size: 1.2em;
    color: #777;
}

section {
    margin: 20px 0;
}

section h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

section p, section ul {
    font-size: 1.1em;
    color: #555;
}

section a {
    color: #3498db;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

#projects {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

#projects h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    flex: 1;
    min-width: 300px;
    max-width: 30%;
    margin: 10px;
    box-sizing: border-box;
}

.project p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #2980b9;
}
